<nav class="be-color-nosotros  large-padding-nosotros">
    <h1 class ="margin-nosotros  letra-sobre-nosotros " style="width: 250px; padding-left: 160px;">SOBRE NOSOTROS</h1>
</nav>

<div class="backgroundBlanco">
		<div class="section">
				<div class="row ">
					
					<!-- cuadro 1-->
						<div class="col-md-4 ">
							<div class="">
		
							    <%= image_tag("caminadorLI.png", :alt => "image1 feed" , style:"width: 95%; height: 95%;margin-top: 65px;padding-left: 185px") %>	
								
							</div>
						</div>
					<!-- /cuadro 1-->

					<!-- cuadro 2 -->
						<div class="col-md-4">
							<div class="">
							    <p class="letra-azul-objetivo-nosotros" style="padding-left: 560px; width: 350px;">Objetivo del proyecto</p>
							</div>
						</div>
					<!-- /cuadro 2-->

					<!-- cuadro 3 -->
						<div class="col-md-4">
							<div class="">
							    <p style="margin-top: 75px;margin-bottom: 80px; margin-rigth:20px;">el objetivo del proyecto es</p>
							</div>
						</div>
					<!-- /cuadro 3 -->

				</div>
				<!-- -->
	</div>
 
<!--
    <div class="">
     <h1>Nuestro Equipo de trabajo</h1>
        </div class="wrapper">
            <div class="slider">
                <div class="item">
                    <div class="item-cliente">

                    <%= image_tag("nombre.jpg", :alt => "image1 feed" , style:"width: 20%; height: 20%;") %>
                    <p class="cliente-name">Edison</p>
                    </div>
                    <div class="item-text">
                    <p>Aprendi mucho</p>
                    </div>
                </div>

                <div class="item">
                    <div class="item-cliente">
                    <%= image_tag("nombre.jpg", :alt => "image1 feed" , style:"width: 20%; height: 20%;") %>
                    <p class="cliente-name">juan</p>
                    </div>

                            <div class="item-text">
                            <p>Aprendi 2</p>
                    </div>
                </div>

                <div class="item">
                    <div class="item-cliente">
                    <%= image_tag("nombre.jpg", :alt => "image1 feed" , style:"width: 20%; height: 20%;") %>
                    <p class="cliente-name">sergio</p>
                    </div>
                        <div class="item-text">
                            <p>Aprendi 3</p>
                        </div>
                </div>



            </div>  
        </div>
--->

</div> 

<!--
<div id="slides">
        <ul class="slides-container">
            <li><%= image_tag("slides.jpeg", :alt => "slides feed" , style:"width: 95%; height: 95%;margin-top: 65px;padding-left: 185px align-center;") %></li>
            <li><%= image_tag("caminadorLI.png", :alt => "image1 feed" , style:"width: 95%; height: 95%;margin-top: 65px;padding-left: 185px") %></li>
            <li><%= image_tag("caminadorLI.png", :alt => "image1 feed" , style:"width: 95%; height: 95%;margin-top: 65px;padding-left: 185px") %></li>
            <li><%= image_tag("caminadorLI.png", :alt => "image1 feed" , style:"width: 95%; height: 95%;margin-top: 65px;padding-left: 185px") %></li>
        </ul>
        <nav class="slides-navigation">
            <a href="#" class="next icon-chevron-thin-right"></a>
            <a href="#" class="prev icon-chevron-thin-left"></a>
        </nav>

    <div>
    <script src="../../assets/javascripts/jquery.js"></script>
    <script src="../../assets/javascripts/jquery.superslides.js"></script>
    <script>
    $('#slides').superslides();
        
    </script>

    -->

    