<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
      <div class="box text-left">
        <div class="barra-iniciar-sesion">
          <p class="letra-iniciar-sesion" style="padding-top: 25px;padding-bottom: 10px;">Inicia sesion</p>
        </div>
        

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <!--<%= f.label :email %> -->
           <!-- <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %> -->
           <%= f.email_field :email, autofocus: true, placeholder: "email:* ", class:"form-control  class-textfield-email"%>
          </div>

          <div class="field">
            <!--<%= f.label :password %>-->
            <!--<%= f.password_field :password, autocomplete: "current-password", class:"form-control" %> -->
            <%= f.password_field :password, placeholder: "Ingrese una contraseña:* ", class:"form-control class-textfield-email" %>
          </div>

          <!--<% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%> --->


          <div class="actions">
            <%= f.submit "Iniciar sesion", class:"boton-iniciar-sesion"  %>
          </div><br />
        <% end %>

        <%= render "devise/shared/links" %>
      </div>

  </div>
</div>



